<style>
    .tile {
        width: 100%;
        display: inline-block;
        box-sizing: border-box;
        background: #fff;
        padding: 20px;
        margin-bottom: 30px;
    }
    .tile .title {
        margin-top: 0px;
    }
    .tile.purple, .tile.blue, .tile.red, .tile.orange, .tile.green {
        color: #fff;
    }
    .tile.purple {
        background: #5133ab;
    }
    .tile.purple:hover {
        background: #3e2784;
    }
    .tile.red {
        background: #ac193d;
    }
    .tile.red:hover {
        background: #7f132d;
    }
    .tile.green {
        background: #00a600;
    }
    .tile.green:hover {
        background: #007300;
    }
    .tile.blue {
        background: #2672ec;
    }
    .tile.blue:hover {
        background: #125acd;
    }
    .tile.orange {
        background: #dc572e;
    }
    .tile.orange:hover {
        background: #b8431f;
    }
    .tile.grey {
        background: #d9dede;
    }
</style>
<div class="container-fluid" id="">

        <!-- Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1>Home</h1>
            </div>

            <div class="container">

                <div class="row">
                  <div class="col-md-4">

                    <!-- <form>
                      <div class="form-group">
                        <label for="employees">Click to upload CSV</label>
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                      </div>
                    </form> -->

                    <div class="form-group">
                      <label for="employees">Click to upload CSV</label>
                    <ng-csv-import content="csv.content"
                            	material
                            	md-button-class="md-icon-button md-raised md-accent"
                            	md-svg-icon="file:ic_file_upload_24px"
                            	header="csv.header"
                            	separator="csv.separator"
                            	result="csv.result"
                            	accept="csv.accept">
                    </ng-csv-import>
                    </div>

                  </div>

                </div>

                <div class="row">
                    <div id="container" style="min-width: 600px; margin: 0 auto">

                      <div class="block row"  ng-if="csv.result">

                        <!-- <div>
                            {{csv.result}}
                        </div> -->


                      <table class="table table-striped">
                      <tr>
                      <td>Employee-Name</td>
                      <td>Phone-Number</td>
                      <td>Amount</td>
                      </tr>
                      <tr ng-repeat="x in csv.result">
                      <td>{{x}}</td>
                      <td>{{x}}</td>
                      <td>{{x.Amount}}</td>
                      </tr>
                      </table>


                      <div style="margin-top:2%;">
                        <button type="button" ng-click="send()" class="col-md-6 btn btn-success">Send Airtime</button>
                      </div>

                    </div>




                    </div>
                </div>

            </div>
        </div>
        <!-- /.row -->

</div>
